<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Edit</title>
        <meta http-equiv="Content-Type" content="text/html">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
    </head>
    <body class="p-3">
        <form class="w-100 h-auto mx-auto p-3"
              enctype="multipart/form-data"
              method="post">
            {% csrf_token %}
            {{ article_form.media }}
            {% comment %} {{ article_form.as_div }} {% endcomment %}
            {% for item in article_form %}
                <div class="mb-3 w-100 mx-auto">
                    <label for="{{ item.id_for_label }}">{{ item.label }}</label>
                    {{ item }}
                </div>
            {% endfor %}
            <div class="text-end">
                <input class="btn btn-primary" type="submit" value="post">
            </div>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
    </body>
</html>
